<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carrenting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <package android:name="vn.com.vng.zalopay" />
        <package android:name="vn.com.vng.zalopay.sbmc" />
    </queries>

    <application
        android:name=".Model.UserClient"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarRenting"
        tools:ignore="Instantiatable"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".Service.Vehicle.UpdateVehicle"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Service.UserAuthentication.CCCDActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Service.UserAuthentication.UserProfile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Service.UserAuthentication.ProfileManagement"
            android:exported="false" />
        <activity
            android:name=".Service.UserAuthentication.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPages.OwnerMainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Service.Vehicle.VehicleCardActivity"
            android:exported="false" />
        <activity
            android:name=".Service.Vehicle.VehicleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Service.Activity.CustomerActivityDetail"
            android:exported="false">
            <intent-filter>
                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Service.Activity.OwnerActivityDetail"
            android:exported="false" />
        <activity
            android:name=".Service.Vehicle.AddVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPages.StartAppActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CarRenting.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Service.UserAuthentication.ValidatePhoneActivity"
            android:exported="false"
            android:theme="@style/Theme.CarRenting.NoActionBar" />
        <activity
            android:name=".Service.UserAuthentication.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CarRenting.NoActionBar" />
        <activity
            android:name=".Service.UserAuthentication.RegisterActivity"
            android:theme="@style/Theme.CarRenting.NoActionBar"></activity>
        <activity
            android:name=".Service.Booking.RequestSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Service.Booking.ScheduleSelect"
            android:exported="false" />
        <activity
            android:name=".ActivityPages.CustomerMainActivity"
            android:theme="@style/Theme.CarRenting.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>